# Librerías

In [1]:
import numpy as np

from tools.compare_functions import load_solutions, get_pareto_front, get_styled_table, classify_solutions
from tools import create_distances
from tools.grasp import Grasp


from tqdm import tqdm
from IPython.display import display, HTML

# Datos

In [2]:
archive = "WorkSpace 1000_50_5"
k=5
m=50

# Preparar los datos

In [11]:
create_distances.create_distances(archive)

# Ejecución GRASP

In [3]:
algoritmo_grasp=Grasp(archive, k, m, alpha=0.8)

               solution          f1   f2   f3
0    [0, 3, 16, 24, 31]  427.023419  247  103
1   [3, 18, 20, 24, 30]  458.802790  209   22
2   [5, 15, 28, 30, 47]  377.005305  281  210
3    [0, 6, 14, 24, 36]  457.106115  218   40
4    [4, 8, 13, 28, 30]  442.764046  229  104
5    [3, 9, 12, 28, 30]  481.133038  203    6
6   [4, 10, 13, 28, 30]  442.764046  233  103
7    [2, 5, 14, 28, 30]  412.506970  262  163
8    [4, 8, 14, 24, 30]  433.416659  239  139
9    [2, 5, 17, 28, 30]  379.969736  271  172
10    [1, 2, 5, 28, 30]  381.790518  269  170
11  [5, 15, 28, 30, 48]  377.005305  284  202
12   [2, 4, 14, 24, 31]  415.120464  248  174
13   [2, 5, 16, 28, 30]  422.413305  249  150
14   [0, 3, 16, 24, 30]  424.721085  270  130
15  [4, 13, 16, 28, 31]  450.699456  227   83
16  [4, 10, 14, 28, 30]  433.416659  243  113
17  [4, 11, 17, 28, 30]  424.609232  257  141
18  [4, 11, 16, 28, 31]  441.834811  241  125
19   [2, 4, 15, 28, 30]  413.358198  252  160
20   [2, 4, 16, 28, 30]  422.413305  244  152
21   [2, 4, 16, 24, 31]  422.413305  240  166

In [4]:
for i in tqdm(range(100), desc="Ejecutando GRASP"):
    algoritmo_grasp.run()

Ejecutando GRASP: 100%|██████████| 100/100 [00:26<00:00,  3.79it/s]

# Comparar soluciones con el pareto front

In [14]:
# Carga
ruta_solution="Solutions/"+archive+".csv"
ruta_pareto="Pareto_front_paper/"+archive+".txt"
df_csv_full, df_csv_obj, df_txt = load_solutions(ruta_solution, ruta_pareto)

# Unir y encontrar frente de Pareto
all_solutions = np.vstack([df_csv_obj.values, df_txt.values])
pareto_mask = get_pareto_front(all_solutions)
pareto_solutions = all_solutions[pareto_mask]

# Arrays para detección de comunes
csv_array = df_csv_obj.values
txt_array = df_txt.values

# Clasificar
colors_csv = classify_solutions(df_csv_obj, pareto_solutions, txt_array)
colors_txt = classify_solutions(df_txt, pareto_solutions, csv_array)

# Mostrar
html_csv = get_styled_table(df_csv_full, colors_csv)
html_txt = get_styled_table(df_txt, colors_txt)

# Mostrar lado a lado con HTML
display(HTML(f"""
<div style="display: flex; gap: 30px;">
  <div style="flex: 1;">
    <h3>Soluciones CSV (con ID)</h3>
    {html_csv}
  </div>
  <div style="flex: 1;">
    <h3>Soluciones TXT</h3>
    {html_txt}
  </div>
</div>
"""))